# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\shakirov\YandexDisk\Работа\Программирование\Java\Учёба\Java pre-project\Задачи\2.3.1. CRUD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
